/* ==================================
-------------------------------------
  NISSA - PHOTOGRAPHY STUDIO TEMPLATE
  Version: 1.0
 ------------------------------------
 ====================================*/


/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

@font-face {
	font-family: 'SUITE-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fairytale_ddobak';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_03@1.0/Fairytale_ddobak.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100%;
	font-family: 'SUITE-Regular';
	font-weight: lighter;
	background: url(../img/img/water4.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	min-width: 449px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #ffffff;
	font-weight: 700;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #ffffff;
	line-height: 1.9;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}


/* 네비게이션 */


#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}



/*------------------
전체
 ---------------------*/

.main-site-warp {
	height: 100%;
	width: 100%;
	position: relative;

}

.main-site-warp.push-side {
	overflow: hidden;
}

.main-site-warp.push-side .header-section {
	-webkit-transform: translateX(614px);
	transform: translateX(614px);
}

.main-site-warp.push-side .site-content-warp {
	-webkit-transform: translateX(614px);
	transform: translateX(614px);
}

.main-site-warp.push-side .site-menu-warp {
	left: 0;
}

.main-site-warp.push-side .nav-switch {
	opacity: 0;
	visibility: hidden;
}

body.push-side {
	overflow: hidden;
}

body.push-side .nicescroll-rails.nicescroll-rails-hr,
body.push-side #ascrail2000-hr {
	-webkit-transform: translateX(614px);
	transform: translateX(614px);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.site-menu-warp {
	position: fixed;
	width: 614px;
	height: 100%;
	left: -620px;
	top: 0;
	background: #242424;
	overflow-y: auto;
	z-index: 9999;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.close-menu {
	font-size: 30px;
	color: #fff;
	margin-left: 48px;
	padding-top: 32px;
	cursor: pointer;
}

.site-menu {
	list-style: none;
	padding-left: 185px;
	padding-top: 160px;
}

.site-menu li {
	display: block;
}

.site-menu li a {
	display: block;
	font-size: 30px;
	color: #fff;
	padding-bottom: 5px;
	margin-bottom: 20px;
	position: relative;
}

.site-menu li a:after {
	position: absolute;
	content: "";
	width: 0;
	height: 3px;
	left: 0;
	bottom: 0;
	background: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.site-menu li a:hover:after,
.site-menu li a.active:after {
	width: 30px;
}

.menu-social {
	padding-left: 185px;
	padding-top: 50px;
}

.menu-social a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	margin-right: 30px;
	padding: 5px;
	margin-bottom: 20px;
}


/* 헤더 */

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 27px 45px;
	z-index: 999;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.nav-switch {
	float: left;
	font-size: 28px;
	color: #ffffff;
	line-height: 0;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.site-content-warp {
	position: relative;
	height: 100%;
	padding-top: 0px;
	padding-left: 614px;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}


/*왼쪽베너 */

.main-sidebar {
	position: absolute;
	width: 614px;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	background: url(../img/img/fish.png) no-repeat;
	background-size: contain;
}

.main-sidebar .mb-warp {
	padding: 0px 95px 10px 145px;
}

.about-info {
	width: 100%;
	height: 550px;
	margin-top: 80px;
	text-align: center;
	margin-bottom: 30px;
}

@keyframes updo {
		0% {
			transform: translate(0, -10px)
		}
	
		50% {
			transform: translate(0, 0px)
		}
	
		100% {
			transform: translate(0, -10px)
		}
	}

.about-info img {
	animation: updo 2s linear infinite;
	padding-top:150px;
	width: 90%;
}

.pos_text {
	position: absolute;
	left: 0px;
	width: 100%;
	top: 50px;
}

.pos_text p {
	width: 70%;
	margin: 0 auto;
	font-size: 22px;
	color: #ffffff;
	padding-top: 50px;
	padding-left: 5px;
	font-family: 'Handletter';
	line-height: 36px;
}

@font-face {
	font-family: 'Cafe24Oneprettynight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.site-logo h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 40px;
	line-height: 1.3;
	font-family: 'Cafe24Oneprettynight';
	font-weight: lighter;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}


@font-face {
	font-family: 'Handletter';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Handletter.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.site-logo p span {
	display: block;
	text-align: right;
}

.contact-info {
	list-style: none;
	margin-top: 30px;
	margin-bottom: 50px;
	position: relative;
}

.contact-info:after {
	position: absolute;
	content: "";
	width: 26px;
	height: 32px;
	left: -36px;
	top: -5px;
}

.contact-info li {
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 10px;
	padding-left: 30px;
}

.contact-info li:nth-child(1) {
	background: url(../img/locate.png)no-repeat top left 3px;
	background-size: contain;
}

.contact-info li:nth-child(2) {
	background: url(../img/call.png) no-repeat top 1px left;
	background-size: 20px;
}

.contact-info li:nth-child(3) {
	background: url(../img/mail.png)no-repeat top 2px left;
	background-size: 18px;
}

/* buttons */

.site-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	min-width: 167px;
	padding: 19px 35px;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 1;
	cursor: pointer;
	text-align: center;
	border: 2px solid #e1e1e1;
	background: transparent;
	margin-bottom: 10px;
}

.site-btn:hover {
	background-color: #ffffff49;
	color:#182c6e;
}

.site-btn img {
	margin-left: 15px;
}

.copyright p {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.425);
	padding-top: 15px;
}

.copyright a {
	color: rgba(255, 255, 255, 0.281);
	text-decoration: underline;
}

.copyright i {
	color: rgba(0, 225, 255, 0.29);
}

/*------------------
Hero section
 ---------------------*/

.hero-track {
	padding-top: 80px;
	padding-bottom: 50px;
	overflow: hidden;
}

.hs-item {
	height: 750px;
	float: left;
	margin-right: 50px;
	position: relative;
}


.hs-item:last-child {
	margin-right: 0;
}

.hs-item .hs-info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 250px;
	height: 70px;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 0 150px 0 0;
	background: #fff;
	z-index: 1;
}

.hs-item .hs-info h5 {
	color: #182c6e;
}

.hs-item .hs-info p {
	margin-bottom: 5px;
	color: #000000;
}

.nicescroll-rails.nicescroll-rails-hr,
#ascrail2000-hr {
	overflow: hidden;
}

.page-section {
	height: 100%;
}

.brand-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.329);
}

.brand-btn ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
}

.brand-btn ul li a {
	display: inline-block;
	padding: 0.5em 1.5em;
	margin: 0.5em 0;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 30px;
}

.brand-btn ul li a:hover {
	border-radius: 42px;
	background: rgba(255, 255, 255, 0.3);
}


/* popup */
#popup div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99999;
	display: none;
}

#popup iframe,
#popup video {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#popup video {
	width: 1120px;
}

#popup p{
	font-size: 20px;
	background-color: #000000;
	position: absolute;
	width: 1120px;
	top: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
	color: #ffffff;
}

#popup i {
	position: absolute;
	top: 50px;
	right: 100px;
	cursor: pointer;
	font-size: 40px;
	color: #fff;
}

/* ----------------
Responsive
 ---------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1600px) {

	.main-sidebar {
		width: 450px;
		background: url(../img/img/fish.png) no-repeat top 3cqmin left -70px;
		background-size: 120%;
	}

	.about-info {
		height: 480px;
		width:100%;
	}

	.about-info img {
		padding-top:130px;
		width: 95%;
	}
	
	.pos_text p {
		font-size:20px;
		padding-left: 0px;
	}

	.site-logo h2 {
		font-size: 26px;
		margin-left: 3px;
	}

	.contact-info {
		list-style: none;
		margin-bottom: 50px;
		position: relative;
	}

	.site-content-warp {
		padding-left: 450px;
	}

	.main-sidebar .mb-warp {
		padding: 0 40px 10px 90px;
	}

}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.main-sidebar {
		width: 350px;
		background: url(../img/img/fish.png) no-repeat top 40px left -80px;
		background-size: 140%;
	}

	.pos_text p {
		width: 80%;
		font-size: 18px;
		padding-left: 0px;
	}

	.site-content-warp {
		padding-left: 350px;
	}

	.main-sidebar .mb-warp {
		padding: 0 30px 10px 55px;
	}

	.about-info {
		height: 420px;
		width: 100%;
		margin-left: 0px;
	}

	.about-info img{
		width: 100%;
	}

	.site-logo h2 {
		font-size: 22px;
	}

	.site-logo
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-content-warp {
		padding-left: 0;
		height: auto;
	}

	.site-menu {
		padding-top: 80px;
	}

	.main-sidebar {
		background: url(../img/img/fish.png) repeat top 80px left -50px;
		background-size: 500px;
		position: relative;
		width: 100%;
		height: auto;
	}

	.pos_text {
		position: absolute;
		left: 0px;
		width: 50%;
		top: 50px;
		left: 350px;
	}

	.pos_text p {
		width: 100%;
		margin: 0 auto;
		font-size: 22px;
		color: #ffffff;
		padding-top: 50px;
		padding-left: 5px;
		font-family: 'Handletter';
		line-height: 36px;
	}

	.site-logo {
		height: 730px;
		float: left;
		width: 450px;
	}

	.main-sidebar .mb-warp {
		float: right;
		width: 300px;
		padding: 400px 0px 10px 20px;
	}

	.about-info {
		width:600px;
		padding-top: 0px;
		margin-left: 50px;
		margin-bottom: 0px;
	}

	.about-info img{
		padding-top: 70px;
		width: 100%;
	}

	.site-logo h2 {
		font-size: 23px;
		margin-left: 0px;
	}

}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

	.main-sidebar {
		background: url(../img/img/fish.png) no-repeat top 50px center;
		background-size:contain;
	}

	.site-content-warp {
		padding-left: 0;
		height: auto;
	}

	.site-menu-warp {
		width: 100%;
		height: 100%;
		left: -100%;
	}

	.site-menu {
		padding: 40px 15px;
		max-width: 400px;
		margin: 0 auto;
	}

	.site-menu li a {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.nicescroll-rails.nicescroll-rails-hr,
	#ascrail2000-hr {
		max-width: calc(100% - 50px);
	}

	.site-logo {
		margin-bottom: 30px;
		width: 100%;
	}

	.about-info {
		height: 100%;
		width: 100%;
		margin: 0 auto;
	}

	.about-info img{
		padding-top: 150px;
		width: 90%;
	}

	.pos_text {
		position: absolute;
		top: 20px;
	}

	.pos_text p {
		width: 70%;
		margin: 0 auto;
		font-size: 22px;
		color: #ffffff;
		padding-top: 50px;
		padding-left: 5px;
		font-family: 'Handletter';
		line-height: 36px;
	}

	.site-logo h2 {
		font-size: 30px;
		padding-top: 20px;
		margin-bottom: 0px;
	}

	.main-sidebar {
		position: relative;
		width: 100%;
		height: auto;
	}


	.contact-info {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-bottom: 30px;
	}

	.contact-info li {
		font-size: 18px;
		margin-bottom: 5px;
		padding-left: 30px;
		font-weight: lighter;
	}

	.contact-info li:nth-child(1) {
		background: url(../img/locate.png)no-repeat top left 3px;
		background-size: contain;
	}

	.contact-info li:nth-child(2) {
		background: url(../img/call.png) no-repeat top 4px left;
		background-size: 23px;
	}

	.contact-info li:nth-child(3) {
		background: url(../img/mail.png)no-repeat top 4px left;
		background-size: 22px;
	}

	.hs-item {
		width: 100%;
		height: 600px;
		
	}

	.hs-item .hs-info {
		padding-left: 15px;
		
	}


	.hero-track .owl-nav {
		padding-top: 30px;
		text-align: center;
		
	}

	.hero-track .owl-nav button.owl-next,
	.hero-track .owl-nav button.owl-prev {
		width: 30px;
		height: 30px;
		color: #363636;
		text-align: center;
		border-radius: 50%;
		background: #ffffffcb;
		margin: 0 5px;
	}

	.main-sidebar .mb-warp {
		padding: 10px;
		width: 270px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
